p
  margin 0
  padding 0
  font-size $font-size-15
.adoline
  display flex
  flex-direction row
  justify-content space-between
  margin 0 _c(30)
  p
    width 30%
    height _c(80)
    line-height _c(80)
    vertical-align middle
  input
    padding 0
    margin 0
    width 70%
    text-align right
    border none
    font-size $font-size-15
    margin-right _c(15)
.yhq
  p:nth-child(2)
    width 70%
    text-align right 
    margin-right _c(75)
    color $color-bg
.zffs
  padding-left _c(30)
  padding-top _c(30)
.zffsk
  padding-top _c(15)
  padding-bottom _c(30)
  img
    width _c(48)
    height  _c(48)
    margin 0 _c(34)
    margin-top _c(15)
  div
    width 70%
    p
      width 100%
      height _c(40)
      line-height _c(40)
    p:first-child
      margin-bottom _c(15)	
  input
    width 10%
    margin-top _c(30)
.otherzf
  p
    margin-top _c(22)
.nextbu
  margin-top _c(110)
  p
    position relative
    left 0
    bottom 0
    width 100%
    height _c(98)
    background $color-bottom-cg
    color white
    text-align center
    line-height _c(98)
    vertical-align middle
.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before
  color $color-bottom-cg
.gou
  width _c(60)
  height 100%
  display inline-block
  margin-right _c(30)
  margin-top _c(15)
.adoline.weui-cells:after, .adoline.weui-cells:before
  border: 0