.weui-grids:before
  border 0
  height 0
.weui-grid
  width 50%
  padding-top _c(20)
  &:after
    height 0
    border 0
  &:before
    height 0
    border 0
  .weui-grid__icon
    width 100%
    height auto
  .scj
    font-size $font-size-18
    line-height $font-size-18
  .ss_red
    font-size $font-size-18
    line-height $font-size-18
    color red
    margin-top _c(20)
  .s_btn
    border 1px solid
    text-align center
    border-radius 5px
    background #38bec2
    color #ffffff
    padding-top _c(10)
    padding-bottom _c(10)
    font-size $font-size-16
    div
      line-height $font-size-16
    .s_red
      color red
      line-height $font-size-16
      margin-top _c(10)
.rxcp
  margin-left _c(20)
  margin-top _c(20)
  font-size $font-size-18
  line-height $font-size-18 