// 图文
.tuwen
  margin-top _c(60)
  padding-left _c(30)
  padding-right _c(30)

// 底部提示
.tip_footer
  position relative
  margin-top _c(83)
  bottom 0
  width 100%
  border-top 1px solid $border-color

// 列表
.pig_li
  justify-content space-between
  margin-top _c(30)
  padding-bottom _c(30)
  font-size $font-size-16 
  color #000000
  .li_0
    width _c(64)
    height _c(64)
    margin-left _c(30)
    img 
      width 100%
      height 100%
  .li_1
    margin-left _c(85)
    line-height _c(64)
  .li_txt
    line-height _c(64)
    margin-right: _c(45)
    color: #37bdc2
    font-size $font-size-16
  .li_2
    margin-right _c(35)
  .li_2_img
    margin-right _c(35)
    width _c(16)
    height _c(28)
    margin-top _c(16)
    img 
      width 100%
      height 100%

// 评论列表
.d_p
  margin-top _c(30)
  padding-bottom _c(20)
  .d_p_top
    height _c(110)
    line-height _c(110)
    font-size $font-size-16
    .d_p_img
      height _c(110)
      width _c(110)
      border _c(5) solid #f6f3f7
      border-radius 50%
      margin-left _c(20)
      margin-right _c(60)
      overflow hidden
      img
        width 100%
        height 100%
    .d_p_date
      margin-right _c(75)
  .d_p_txt
    margin-left _c(35)
    margin-top _c(15)
    margin-right _c(35)
    font-size $font-size-14

.btn
  margin-left _c(60)
  margin-right _c(60)
  height _c(80)
  line-height _c(80)
  background #38bec2
  text-align center
  color #ffffff
  border-radius 5px
  margin-top _c(100)
  font-size $font-size-18
.hui
  background #919191